<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <originalapp_reports>
            <dashboard>
                <enable_customer_by_country_widget>1</enable_customer_by_country_widget>
                <enable_top_selling_products_widget>1</enable_top_selling_products_widget>
                <enable_sales_by_category_widget>1</enable_sales_by_category_widget>
                <enable_sales_by_country_widget>1</enable_sales_by_country_widget>
                <enable_monthly_sales_growth_widget>1</enable_monthly_sales_growth_widget>
            </dashboard>
            <sales_growth>
                <order_statuses>processing,complete</order_statuses>
                <!-- Test order statuses for testing purposes -->
                <!-- <order_statuses>pending,processing,complete</order_statuses> -->
                <!-- <order_statuses>pending,processing,complete,closed,canceled,payment_review,fraud,suspected_fraud</order_statuses> -->
            </sales_growth>
            <cron_settings>
                <cron_enabled>0</cron_enabled>
            </cron_settings>
        </originalapp_reports>
    </default>
</config>
