<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- category -->
    <type name="Originalapp\Reports\Ui\DataProvider\Category\ListingDataProvider">
        <plugin name="originalapp_reports_category_attributes" type="Originalapp\Reports\Plugin\AddCategoryNameFilterToDataProvider" />
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
        <argument name="collections" xsi:type="array">
            <item name="oappreports_sales_category_listing_data_source" xsi:type="string">OriginalappReportsCategoryCollection</item>
        </argument>
        </arguments>
    </type>
    <virtualType name="OriginalappReportsCategoryCollection" type="Originalapp\Reports\Ui\DataProvider\Category\Listing\Collection">
        <arguments>
        <argument name="mainTable" xsi:type="string">catalog_category_entity</argument>
        <argument name="resourceModel" xsi:type="string">Originalapp\Reports\Model\ResourceModel\Category</argument>
        </arguments>
    </virtualType>

    <!-- customer -->
    <type name="Originalapp\Reports\Ui\DataProvider\Customer\ListingDataProvider">
        <plugin name="originalapp_reports_customer_attributes" type="Originalapp\Reports\Plugin\AddCustomerNameFilterToDataProvider" />
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="oappreports_sales_customer_listing_data_source" xsi:type="string">OriginalappReportsCustomerCollection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="OriginalappReportsCustomerCollection" type="Originalapp\Reports\Ui\DataProvider\Customer\Listing\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">customer_entity</argument>
            <argument name="resourceModel" xsi:type="string">Originalapp\Reports\Model\ResourceModel\Customer</argument>
        </arguments>
    </virtualType>

    <!-- product -->
    <type name="Originalapp\Reports\Ui\DataProvider\Product\ListingDataProvider">
        <plugin name="originalapp_reports_product_attributes" type="Originalapp\Reports\Plugin\AddProductNameFilterToDataProvider" />
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="oappreports_sales_product_listing_data_source" xsi:type="string">OriginalappReportsProductCollection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="OriginalappReportsProductCollection" type="Originalapp\Reports\Ui\DataProvider\Product\Listing\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">catalog_product_entity</argument>
            <argument name="resourceModel" xsi:type="string">Originalapp\Reports\Model\ResourceModel\Product</argument>
        </arguments>
    </virtualType>
</config>