<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Originalapp_Reports::oappdashboard" 
          action="oappreports/dashboard" sortOrder="100" title="Advanced Reports"
          translate="title" module="Originalapp_Reports" resource="Magento_Backend::content"/>
    </menu>
</config>