<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Originalapp_Reports::oappreports" 
          action="oappreports/dashboard" sortOrder="100" title="Advanced Reports" dependsOnModule="Originalapp_Reports"
          translate="title" module="Originalapp_Reports" resource="Magento_Backend::content"/>
        <add id="Originalapp_Reports::oappreport_dashboard" 
          action="oappreports/dashboard" sortOrder="10" title="Dashboard" dependsOnModule="Originalapp_Reports"
          translate="title" module="Originalapp_Reports" resource="Magento_Backend::content" parent="Originalapp_Reports::oappreports"/>
        <add id="Originalapp_Reports::oappreport_sales_customer" 
          action="oappreports/sales/customer" sortOrder="20" title="Sales By Customer" dependsOnModule="Originalapp_Reports"
          translate="title" module="Originalapp_Reports" resource="Magento_Backend::content" parent="Originalapp_Reports::oappreports"/>
        <add id="Originalapp_Reports::oappreport_sales_product" 
          action="oappreports/sales/product" sortOrder="30" title="Sales By Product" dependsOnModule="Originalapp_Reports"
          translate="title" module="Originalapp_Reports" resource="Magento_Backend::content" parent="Originalapp_Reports::oappreports"/>
        <add id="Originalapp_Reports::oappreport_sales_category" 
          action="oappreports/sales/category" sortOrder="30" title="Sales By Category" dependsOnModule="Originalapp_Reports"
          translate="title" module="Originalapp_Reports" resource="Magento_Backend::content" parent="Originalapp_Reports::oappreports"/>
    </menu>
</config>