<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="originalapp" translate="label" sortOrder="300">
            <label>Originalapp</label>
        </tab>
        <section id="originalapp_reports" translate="label" sortOrder="10"
                 showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Originalapp Reports</label>
            <tab>originalapp</tab>
            <resource>Originalapp_Reports::configuration</resource>
            <group id="sales_growth" translate="label" type="text" sortOrder="10"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Sales Growth Report</label>
                <field id="order_statuses" translate="label comment" type="text" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Order Statuses</label>
                    <comment>Comma-separated list of order statuses to include (e.g., processing, complete)</comment>
                </field>
            </group>
            <group id="cron_settings" translate="label" type="text" sortOrder="20"
                showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Stats Cron Settings</label>

                <field id="cron_enabled" translate="label comment" type="select" sortOrder="1"
                    showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Stats Cron Job</label>
                    <comment>Enable or disable the stats cron job.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="frequency" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cron Frequency</label>
                    <source_model>Originalapp\Reports\Model\Config\Source\Frequency</source_model>
                    <backend_model>Originalapp\Reports\Model\Config\StatsCronConfig</backend_model>
                    <depends>
                        <field id="cron_enabled">1</field>
                    </depends>
                </field>
                <field id="time" translate="label" type="time" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Start Time</label>
                    <depends>
                        <field id="cron_enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
