<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="originalapp" translate="label" sortOrder="300">
            <label>Originalapp</label>
        </tab>
        <section id="originalapp_reports" translate="label" sortOrder="10"
                 showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Originalapp Reports</label>
            <tab>originalapp</tab>
            <resource>Originalapp_Reports::configuration</resource>
            <group id="sales_growth" translate="label" type="text" sortOrder="10"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Sales Growth Report</label>
                <field id="order_statuses" translate="label comment" type="text" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Order Statuses</label>
                    <comment>Comma-separated list of order statuses to include (e.g., processing, complete)</comment>
                </field>
            </group>
        </section>
    </system>
</config>
